.upperbox {
    display: flex;
    color: white;
    height: 300px;
}
body {
    color: white;
    background-image: url("bilde5.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bigtext {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.midbox {
    display: flex;
    color: white;
    height: 600px;
}
.downbox {
    display: flex;
    color: white;
    height: 300px;
}
.map {
    top: 90%;
}
.timebox {
    position: relative;
    display: flex;
    color: white;
    height: 350px;
    width: 400px;
    background-color: white;
}
.text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    width: 99%;
}
.text2 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    text-align: center;
    width: 99%;
    top: 20%;
}
.up {
    color: white;
    top: 30%;
}
.up2 {
    color: white;
    top: 35%;
}
.white{
    color: white;
}
.location {
}
.footer {
    display: flex;
    background-color: black;
    color: white;
    height: 60px;
    position: relative;
    margin: auto;
    object-fit: cover;
}
.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
