
fieldset {
    background-color: black;
      color: white;
      border-radius:20px;
      }
    body {  
      color: white;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("loginbilde.jpg");
    }
    .h1 {
        text-align: center;
        color: white;
        font-size: 40px;
      }
    input[type=text], input[type=password] {
        width: 80%;
        border-radius:35px;
        padding: 5px 15px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;  
      }
    ul.no-bullets {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

